body {
    background-color: black;
}
.post {
    background-color: white;
    box-sizing: border-box;
    padding: 2px;
    width: 32%;
    margin: auto;
}
.post-header {
    background-color: white;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
span{
   width: 330px;
}
.post-icons{
    background-color: white;
    display: flex;
    padding: 5px;
}
.fa-bookmark{
    margin-left: 280px;
}
p{
    margin: 3px;
    padding: 2px;
}